{% extends 'layout.html' %}
{% block body %}

<div class="main d-flex text-white">
	<div class="navigation bg-darker">
		<div class="navigation-mobile bg-darker px-5 d-flex d-lg-none justify-content-between align-items-center">
			<p>Joseph Sinclair</p>
			<a onclick="toggleMobileNav()"><i class="fas fa-bars"></i></a>
		</div>
		<div class="navigation-menu bg-darker px-5 py-0 py-lg-5">
			<div class="tree">
				<div class="tree-group">
					<a class="root" href="#title">Joseph Sinclair</a>
					<div class="tree-group item">
						<a class="root" href="#info">Info</a>
						<a class="item" href="#about">About</a>
						<a class="item" href="#skills">Skills</a>
					</div>
					<div class="tree-group item">
						<a class="root" href="#projects">Projects</a>
						<a class="item" href="">Compound Invest</a>
						<a class="item" href="">Expense Tracker</a>
						<a class="item" href="">Baseball Simulator</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="content bg-dark">
		<div class="content-wrapper">
			<div id="title" class="px-5 pt-5">
				<h1 class="text-primary">Joseph Sinclair</h1>
				<p class="text-muted font-secondary pt-1">Software Engineer</p>
			</div>
			<div id="info" class="px-5 pt-5">
				<h2 class="text-primary">Info</h2>
				<div id="about" class="py-3">
					<h3 class="text-secondary">About Me</h3>
					<p class="font-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
						saepe! Quibusdam aliquid
						blanditiis perferendis atque autem suscipit, nihil tempore minima illo rem officia aliquam
						recusandae neque quaerat. Aliquid, expedita voluptate.</p>
				</div>
				<div id="skills" class="py-3">
					<h3 class="text-secondary">Skills</h3>
					<p class="font-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
						saepe! Quibusdam aliquid
						blanditiis perferendis atque autem suscipit, nihil tempore minima illo rem officia aliquam
						recusandae neque quaerat. Aliquid, expedita voluptate.</p>
				</div>
			</div>
			<div id="projects" class="px-5 pt-5">
				<h2 class="text-primary">Projects</h2>
				<p class="font-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem,
					saepe!
					Quibusdam aliquid
					blanditiis perferendis atque autem suscipit, nihil tempore minima illo rem officia aliquam
					recusandae neque quaerat. Aliquid, expedita voluptate.</p>
			</div>
		</div>
	</div>
</div>


{% endblock %}