{% extends 'layout.html' %}
{% block body %}
{% include 'includes/nav.html' %}
<div class="row no-gutters">
	<div class="col-12 col-md-6">
		<img src="/static/images/{{pId}}.jpg" alt="" class="project-main-img">
	</div>
	<div class="col-12 col-md-6 section project-info">
		<div>
			<h2>{{p['name']}}</h2>
			<p>{{p['overview']}}</p>
			<div class="project-links">
				<a href="{{p['link']}}">View Project</a>
				<a href="{{p['github']}}">Github</a>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 section">
		<div>
			<h2>01. Research</h2>			
			<p>{{p['research']}}</p>
		</div>
	</div>
	<div class="col-12 col-md-6 section grey">
		<div>
			<h2>02. Design</h2>			
			<p>{{p['design']}}</p>
		</div>
	</div>
	<div class="col-12 col-md-6 section grey">
		<div>
			<h2>03. Develop</h2>			
			<p>{{p['develop']}}</p>
		</div>
	</div>
	<div class="col-12 col-md-6 section primary">
		<div>
			<h2>04. Tech</h2>			
			<p>{{p['tech']}}</p>
		</div>
	</div>

	<div class="col-12 col-md-4 icon-section grey">
		<i class="far fa-gem"></i>
		<h3>Quality Products</h3>
	</div>
	<div class="col-12 col-md-4 icon-section grey">
		<i class="fas fa-magic"></i>
		<h3>Designed to Perfection</h3>
	</div>
	<div class="col-12 col-md-4 icon-section grey">
		<i class="far fa-heart"></i>
		<h3>Made With Love</h3>
	</div>
	<div class="col-12 section primary contact">
		<p>Like what you see?</p>
		<a href="/contact"><h1>Contact Me!</h1></a>
	</div>
</div>


{% endblock %}